#meme-image{
  width: 300px;
  height: 300px;
  position: absolute;
}

#meme-image-container {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  margin: 0;
  display: block;
  background-color: white;

}

#meme-text{
  padding: 10px;
  position: absolute;
  color: white;
  max-width: 25%;
  text-align: center;
  top: 200px;
  font-size: 30px;
  text-shadow: black 5px 5px 5px;
}