#meme-image {
  width: 400px;
  height: 400px;
  position: absolute;
}

#meme-image-container {
  margin: auto;
  height: 400px;
  width: 400px;
  border: 1px solid black;
  display: block;
  background-color: white;

}

#meme-text {
  padding: 10px;
  position: absolute;
  color: white;
  max-width: 390px;
  top: 250px;
  font-size: 30px;
  text-shadow: black 5px 5px 5px;
}

#water {
  background-color: blue;
}

#fire {
  background-color: red;
}

#earth {
  background-color: green;
}

#inputs, #buttons, #memes {
  text-align: center;
  margin: 5px;
}

#meme-1,#meme-2,#meme-3,#meme-4{
  width: 150px;
  height: 150px;
}